{% extends "profile/profile.html" %}
{% block js %}
	{% load staticfiles %}
    <script src={% static 'jquery-1.11.1.min.js' %}></script>
    <script type="text/javascript">
    	$(document).ready(function(){
            $('textarea').keyup(function (event) {
                if (event.keyCode == 13) {
                    var content = this.value;
                    var caret = getCaret(this);
                    if(event.shiftKey){
                        this.value = content.substring(0, caret - 1) + "\n" + content.substring(caret, content.length);
                        event.stopPropagation();
                    } else {
                        this.value = content.substring(0, caret - 1) + content.substring(caret, content.length);
                        $('form').submit();
                    }
                }
            });
    	}
    </script>
	<script type="text/javascript">
		function hide(id){
			document.getElementById(id).style.display = 'none';
			document.getElementById(id + 'Text').style.display = 'block';
		}
		function likes(factor,student_id,prof_id){
			$.ajax({
					type: "POST",
					url: "/like/review/",
					data: {
						mnemonics : 'LIKE_PROF_REVIEW',
						prof_id : prof_id,
						student_id : student_id,
						factor: factor,
						csrfmiddlewaretoken: '{{ csrf_token }}'
					},
					success: function(data) {
					document.getElementById('spnLike'+student_id).innerHTML = data
						/*if(data!=="False"){
							tempBool = false;
				        	alert(data);
				        	location.reload();
				        }*/
				    },
				    failure: function(data) {
				        alert('Got an error dude');
				    },
					dataType: "html"
			});
		}
		function add_review(review_id){
			var review_text = document.getElementById(review_id+'Text')
			$.ajax({
					type: "POST",
					url: "/add/review/",
					data: {
						mnemonics : 'ADD_REVIEW',
						prof_id : '{{professor.get_name}}',
						review_id : review_id,
						review_text : review_text,
						csrfmiddlewaretoken: '{{ csrf_token }}'
					},
					success: function(data) {
						/*if(data!=="False"){
							tempBool = false;
				        	alert(data);
				        	location.reload();
				        }*/
				    },
				    failure: function(data) {
				        alert('Got an error dude');
				    },
					dataType: "html"
			});
		}
	</script>
{% endblock %}
{% block user %}{{professor.get_name}}{% endblock %}
{% block name %}{{professor.get_name}}{% endblock %}
{% block email %}{{professor.get_email}}{% endblock %}
{% block phone %}{{professor.get_mobile_number}}{% endblock %}
{% block college %}{{professor.get_college}}{% endblock %}
{% block details %}
<tr>
	<td>Areas of Interest</td>
    <td>{{professor.get_area_of_interest}}</td>
</tr>
<tr>
	<td>Courses Teaching</td>
    <td>{% for list in coursesList %}{{list}} {% endfor %}</td>
</tr>
<tr>
	<td>Best known for</td>
    <td>{{professor.get_best_known_for}}</td>
</tr>
<tr>
	<td>Qualifications</td>
    <td>{% for list in qualificationsList %}{{list}} {% endfor %}</td>
</tr>
<tr>
	<td>Positions</td>
    <td>{% for list in positionsList %}{{list}} {% endfor %}</td>
</tr>
<tr>
	<td>Rate</td>
    <td>{{rate.get_rate}}</td>
</tr>
{% endblock %}

{% block rateProf %}
<div class="col-md-offset-5" id = "rateButtonText" style="display:none">
	<form action = "/caller/" method = "POST">{% csrf_token %}
		<button type="submit" class="btn btn-info">Like</button>
		<input type = "hidden" name = "mnemonics" value = "LIKE">
		<input type = "hidden" name = "prof_id" value = "{{professor.get_username}}">
	</form>
	<form action = "/caller/" method = "POST">{% csrf_token %}
		<button type="submit" class="btn btn-info">Dislike</button>
		<input type = "hidden" name = "mnemonics" value = "DISLIKE">
		<input type = "hidden" name = "prof_id" value = "{{professor.get_username}}">
	</form>
	<form action = "/caller/" method = "POST">{% csrf_token %}
		<button type="submit" class="btn btn-info">Don't know</button>
		<input type = "hidden" name = "mnemonics" value = "DONT_KNOW">
		<input type = "hidden" name = "prof_id" value = "{{professor.get_username}}">
	</form>
</div>
<div id = "rateButton" class="col-md-offset-8">
	<button type="button" class="btn btn-primary" onclick="hide('rateButton')">Rate this Prof</button>
</div>
{% endblock %}

{% block review %}
	<div class="col-md-offset-5" id="reviewText" align = "center">
		<form action="/add/review/" method="POST">{% csrf_token %}
			<input type="hidden" name="mnemonics" value="ADD_FRESH_REVIEW" >
			<input type="hidden" name="review_type" value="Fresh Review">
			<input type="hidden" name="prof_id" value="{{professor.get_username}}">
		<!--	<input type="text"  name="review_text" placeholder = "Add a review" >-->
			<textarea rows="4" cols="50"class = "form-control" name="review_text" placeholder = "Add a review"></textarea>
			<input type="submit" value="Add a review" >
		</form>
	</div>
	<div class="col-md-offset-5" id="reviews">
		<table>
		{% for review in review_list %}
		<tr>
			<td>
			<b>{{review.get_student.get_username}}({{review.get_timestamp}}) <span id="spnLike{{review.get_student.get_username}}">{{review.get_number_of_likes}}</span> Says:</b><br>
			{{review.get_review}}
			<button type="submit" onclick="likes(1,'{{review.get_student.get_username}}','{{review.get_professor.get_username}}')" >Like</button>
			<button type="submit" onclick="likes(-1,'{{review.get_student.get_username}}','{{review.get_professor.get_username}}')">Dislike</button>
			</td>
		</tr>
		{% endfor %}
		</table>
	</div>
{% endblock %}
