{% extends "base/index.html" %}

{% block css %}
{% endblock %}

{% block javascript %}
{% endblock %}


{% block content %}
<section id="main-content">
          <section class="wrapper">
		  <div class="row">
				<div class="col-lg-12">
					<ol class="breadcrumb">
						<li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
						<li><i class="fa fa-table"></i>Survey Branch</li>
					</ol>
				</div>
			</div>
              <!-- page start-->
                <div class="panel panel-primary">
            		 <div class="panel-heading">Choose your branch</div>
                        {% for branch in branch_list %}
            		    <div class="panel-content"><a href="/survey/?branch={{branch}}" >{{branch}}</a></div>
        	            {% endfor %}
    	        </div>

              <!-- page end-->
              </section>
    </section>


{% endblock %}