{% extends "base/index.html" %}

{% block css %}
<style type="text/css">

</style>
{% endblock %}
{% block js %}

<script type="text/javascript">
    function checkUsername(type){
        //alert("ABCDF");
        var username = null;
        if(type==="Student")
            username = document.getElementById('student_username').value;
        if(type==="Professor")
            username = document.getElementById('professor_username').value;
        var tempBool = true;
        if(username==""){
          alert("Fill Username!!");
          return false;
         }
        var validUsername=null;
        $.ajax({
            type: "POST",
            url: "/caller/",
            data: {
                username: username,
                user_type: type,
                mnemonics : 'USER_PRESENT',
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(data) {
                if(data!=="False"){
                    tempBool = false;
                    alert(data);
                    location.reload();
                }
            },
            failure: function(data) {
                alert('Got an error dude');
            },
            dataType: "html"
        });
        return tempBool;
    }
</script>

{% endblock %}

{% block content %}


    <section id="main-content">
          <section class="wrapper">
		  <div class="row">
				<div class="col-lg-12">
					<ol class="breadcrumb">
						<li><i class="fa fa-home"></i><a href="/home/">Home</a></li>
						<li><i class="fa fa-table"></i><a href="/survey_home/">Survey</a></li>
						<li><i class="fa fa-table"></i>{{branch}}</li>
					</ol>
				</div>
			</div>
              <!-- page start-->
              <form class="form-horizontal " method="POST" action="/survey_submit/">
                  {% csrf_token %}
                  <input type="hidden" value="{{branch}}" name="branch">
                <div class = "row">
                {% for prof in prof_list %}
                <div class="bio-row">
                    <div class="col-lg-4">
                          <label class="checkbox-inline" style = "color:#4CD964;" >
                              <input type="checkbox" id="inlineCheckbox1" value="LIKES" name="optradio{{prof.get_username}}"><b>Like</b>
                          </label>
                          <label class="checkbox-inline" style = "color:#827AFD;">
                              <input type="checkbox" id="inlineCheckbox2" value="DISLIKES" name="optradio{{prof.get_username}}"><b>Dislike</b>
                          </label>
                        <br>
                        <br>
                        <a href = "/prof_profile/?prof={{prof.get_username}}">{{prof}}</a>
                    </div>
                    <div class="col-lg-8">
                        <textarea class="form-control" rows="4" name="profReview{{prof.get_username}}" id="txtInput" placeholder = "Say something.."></textarea>
                    </div>
                </div>
                {% endfor %}
                <div class="bio-row">
                    <div class="col-lg-4">
                          <label class="checkbox-inline" style = "color:#4CD964;" >
                              <input type="checkbox" id="inlineCheckbox1"value="LIKES" name="optradioResAv"><b>Like</b>
                          </label>
                          <label class="checkbox-inline" style = "color:#827AFD;">
                              <input type="checkbox" id="inlineCheckbox2" value="DISLIKES" name="optradioResAv"><b>Dislike</b>
                          </label>
                        <br>
                        <br>
                        <a>Research opportunities </a>
                    </div>
                    <div class="col-lg-8">
                        <textarea class="form-control" rows="4" id="txtInput" name="resAv" placeholder = "Say something.."></textarea>
                    </div>
                </div>
                <div class="bio-row">
                    <div class="col-lg-4">
                          <label class="checkbox-inline" style = "color:#4CD964;" >
                              <input type="checkbox" id="inlineCheckbox1"value="LIKES" name="optradioJobOpp"><b>Like</b>
                          </label>
                          <label class="checkbox-inline" style = "color:#827AFD;">
                              <input type="checkbox" id="inlineCheckbox2" value="DISLIKES"  name="optradioJobOpp"><b>Dislike</b>
                          </label>
                        <br>
                        <br>
                        <a>Placements</a>
                    </div>
                    <div class="col-lg-8">
                        <textarea class="form-control" rows="4"  name="jobOpp" id="txtInput" placeholder = "Say something.."></textarea>
                    </div>
                </div>
                </div>
                <div class="form-group">
                      <label class="col-lg-2 control-label">User Name</label>
                      <div class="col-lg-5">
                          <input type="text" id = "student_username" name="student_username" class="form-control" onchange="checkUsername('Student')" >
                          <span class="help-block">This would be used to display comments. Don't use actual name if afraid!</span>
                      </div>
                </div>
                <div class="form-group">
                      <label class="col-lg-2 control-label">Email</label>
                      <div class="col-lg-5">
                          <input type="text" id = "email" class="form-control" name="email">
                      </div>
                </div>
                <div class="form-group">
                      <label class="col-lg-2 control-label">Password</label>
                      <div class="col-lg-5">
                          <input type="password" id = "password" class="form-control" name="password">
                      </div>
                </div>
                <button type="submit" class="btn btn-success btn-lg btn-block">Submit</button>
            </form>
                <!-- page end-->
              </section>
    </section>


{% endblock %}