{% extends "base/base.html" %}

{% block css %}

{% endblock %}


{% block content %}
<div class="container">
    <h2>What’s all this fuss about?</h2>
    <blockquote style = "color:#000;">We are a Zomato of colleges.<br> We know that Mr. Navneet Goyal is the go-to person for all DBMS queries and Mr. Rajeev Kumar for Graphs and Networks.<br> We know this about all the professors and all the colleges, and we do this based on your feedback.</blockquote>
    <h2>How can you help us?</h2>
    <blockquote style = "color:#000;">Remember when you had to go from senior to senior to ask which Prof to choose for a certain elective? Well, Generation-Next can just Profbrew it. And they are just <b>your feedback</b> away!</blockquote>
    <h2>What to do if something seems out of place on our website?</h2>
    <blockquote style = "color:#000;">The term ‘Teacher’ has resonated with God in most literature, and we, at Profbrew, are indebted to them for bearing with us all throughout and making us who we are. A big part of our mission is to deliver to them, the respect that they deserve. Therefore, we urge everyone to honor the sanctity of the profession and only write what’s constructive and helpful.
<br><br>And if you find that there’s something hurtful anywhere on our website, email us at mailprofbrew@gmail.com and we’ll take care of it. Or, just catch us at ANC. Treat’s on us!
</blockquote>
    <h2 >Help us kickstart! </h2>
    <a href="/survey_home" ><button type="button" class="btn btn-default"><h5 style = "color:#000;"><b>Give feedback!</b></h5></button><a>
</div>

{% endblock %}